<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalogo/css/styles.css' %}">
    <title>BEPLinks - Assuntos</title>
</head>
<body>
<div class="container">
    <h1>Painel de Assuntos</h1>

    <a href="{% url 'adicionar_tema' %}">
    <button>+ Adicionar Tema</button>
    </a>

    <br><br>

    {% for tema in temas %}
    <div class="card">
        <h2>
            <a href="{% url 'vitrine' tema.id %}">
                {{ tema.titulo }}
            </a>
        </h2>
        <p>{{ tema.resumo }}</p>
    </div>
{% empty %}
    <div class="card">
        <p>Nenhum tema cadastrado ainda.</p>
    </div>
{% endfor %}
</div>
</body>
</html>
