<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalogo/css/styles.css' %}">
    <title>{{ tema.titulo }}</title>
</head>
<body>
<div class="container">
    <h1>{{ tema.nome }}</h1>

    <a href="{% url 'adicionar_recurso' %}">
        <button>+ Adicionar Recurso</button>
    </a>

    <br><br>

    {% for recurso in recursos %}
        <div class="card">
            <h2>
                <a href="{% url 'detalhe' recurso.id %}">
                    {{ recurso.nome }}
                </a>
            </h2>
            <p>{{ recurso.descricao }}</p>
        </div>
    {% empty %}
        <p>Nenhum recurso cadastrado.</p>
    {% endfor %}

    <br>
    <a href="{% url 'painel' %}">← Voltar</a>
</div>
</body>
</html>
